/* .main-content {
  background-color: rgb(39, 39, 39);
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
} */
.movie-details{
  background-color: rgb(38, 38, 38) !important;
}
.sub-section{
  padding-bottom: 1rem !important;
  border-bottom: 1.3px solid #d6d3d3 !important;
}
.genre-title{
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: #fff !important;
}
.conclusion-section{
  background-color: rgb(241, 241, 241) !important;
  width: 80% !important;
  margin: 0 auto !important;
}

.hero{
  height:fit-content !important;
}
.container{
  /* width: 95% !important; */
  background-color: rgb(255, 255, 255) !important;
  height: fit-content !important;
}
.left-aligned{
  text-align: left !important;
}
.points{
  margin-top: 1rem !important;
  font-size: 1rem !important;
}
.small-text{
  font-size: 0.7rem !important;
  color: #666666 !important;
  padding-top: -0.8px !important;
}

.margin{
  margin: 2rem !important;
}
.padding{
  padding: 2rem !important;
}
.padding-top-bottom{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.align-right{
  text-align: right !important;
}
.margin-top{
  margin-top: 0.2rem !important;
}
.margin-top-5{
  margin-top: 4rem !important;
}
.margin-bottom{
  margin-bottom: 1rem !important;
}